/*a Item to let JS detect CSS settings */
#js_detect_css {
    hidden: true;
    color: #777;
}

@media (prefers-color-scheme: dark) {
    #js_detect_css {
        color: #000;
    }
}

@media (prefers-color-scheme: light) {
    #js_detect_css {
        color: #fff;
    }
}

/*a Non-colors (i.e. day and night) */
.tab-list ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-top: 2px;
    border-top-style: solid;
    border-bottom-width: 3px;
    border-bottom-style: solid;
}

.tab-list ul li {
    float: left;
}

.tab-list ul li.active a {
    pointer-events: none;
}

.tab-list ul li a {
    display: block;
    text-align: center;
    padding: 6px 12px;
    text-decoration: none;
}

.tab-list ul li label {
    display: block;
    text-align: bottom;
    padding: 6px 12px;
    text-decoration: none;
}

.log {
    overflow: scroll;
    height: 100px;
}

#day_night_checkbox {
    position: absolute;
    left: 0;
    opacity: 0.01;
}

#day_night_checkbox:checked ~ #day_night_label {
    background: #c33;
}

body {
    touch-action: none;
}

/* Sizing

The layout for mobile landscape is

+-----------------------------------+
| Tab | Tab | Tab | Tab | Tab       |
+-----------------------------------+

Box flex flow column height 100% for sky / map / location / find
  Content (flex grow 1 shrink 1 auto)

    Div per tab

     Canvas

     Potential overlay with loaded photo

  Footer (flex grow 0 shrink 0 0px)

Div for help height 100% overflow y-scroll

Div for info height 100% overflow y-scroll

Div for log height 100% overflow y-scroll

Overlay for elevation / direction

Overlay for time / date

Overlay for settings

*/
html {
    height: 100%;
    margin: 0px;
    body {
        height: 100%;
        margin: 0px;
    }
    td {
        padding: 0px;
        margin: 0px;
    }
    input {
        padding: 0px;
        margin: 0px;
    }
}

.flex.box {
    display: flex;
    flex-flow: column;
    height: 100%;

    .flex.content {
        flex: 1 1 auto;
    }

    .flex.fixed {
        flex: 0 1 min-content;
    }

    .flex.footer {
        flex: 0 1 0px;
    }
}

.control.selectors {
    position: absolute;
    top: 40px;
    right: 10px;
    z-index: 1;
    .zoom_mag {
        position: relative;
        top: 0px;
    }
    .comp_elev {
        position: relative;
        top: 40px;
    }
    .time_date {
        position: relative;
        top: 80px;
    }
}

#SkyCanvas canvas {
    position: absolute;
}
#controls {
    position: absolute;
    bottom: 0px;
    z-index: 1;
    width: 100%;
    .zoom_mag {
        .mag input {
            box-sizing: border-box;
            width: 100%;
            max-width: 800px;
        }
        .zoom input {
            box-sizing: border-box;
            width: 100%;
            max-width: 800px;
        }
    }
    table {
        width: 100%;
    }
}

#tab-help {
    padding: 8px;
}

#tab-skyview {
    height: 100%;
    table {
        border-spacing: 0px;
    }
}

#tab-find {
    table {
        width: 100%;
    }
    #FindCanvas {
        height: 100%;
        width: 100%;
        canvas {
            position: absolute;
        }
    }
}

/*a Night mode  - default */
body {
    background: black;
    color: #722;
}

/* Change colors on checkboxes and ranges throughout */
input[type="radio"] {
    /* change "blue" browser chrome to yellow */
    filter: invert(100%) hue-rotate(320deg) brightness(0.7);
}

input[type="checkbox"] {
    /* change "blue" browser chrome to yellow */
    filter: invert(100%) hue-rotate(320deg) brightness(0.7);
}

input[type="range"] {
    /* change "blue" browser chrome to yellow */
    filter: invert(100%) hue-rotate(320deg) brightness(0.7);
}

.tab-list ul {
    background-color: #000;
    /* same as li.active a */
    border-bottom-color: #422;
    li.active a {
        color: #c33;
        background: #422;
    }
    li a {
        color: #722;
    }
    li a:hover {
        background-color: #111;
    }
}

a {
    color: #944;
}

a:visited {
    color: #722;
}

/* Set date/time buttons on the set tab */
.date_button {
    background: black;
    color: #722;
    border-color: #a55;
}

/*a Day mode */
body.day {
    background: white;
    color: black;

    input[type="checkbox"] {
        /* change "blue" browser chrome to yellow - kinda because we can :-) */
        filter: invert(100%) hue-rotate(18deg) brightness(1.7);
    }

    .tab-list ul {
        /* same as li.active a */
        background-color: #ccc;
        border-bottom-color: #666;

        li.active a {
            color: #fff;
            background: #666;
        }

        li a {
            color: black;
        }

        li a:hover {
            background-color: #111;
        }
    }
    .date_button {
        background: white;
        color: black;
        border-color: #a55;
    }
}
